<div class="layout-topbar">
  <div class="fluid-container">
    <div class="row">
      <div class="col-md-10">
        <div style="color:red" class="col-md-3">
          Angular 7 SignalR Notifications
          <div *ngFor="let mensaje of mensaje">{{ mensaje.message }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast [style]="{ marginTop: '50px' }"></p-toast>
